EXTERNAL_URL=https://haven.hackclub.com

DATABASE_URL=
ENCRYPTION_KEY=  # openssl rand -base64 32
AIRTABLE_SECRET_KEY=  # openssl rand -hex 32

AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_EVENTS_TABLE_ID=
AIRTABLE_EVENTS_VIEW_ID=  # optional; defaults to the whole Events table

AGE_CUTOFF_DATE=
POC_SIGNUP_URL=
RSVP_URL=

HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

SLACK_BOT_TOKEN=
SLACK_BOT_USER_ID=
SLACK_SIGNING_SECRET=

SLACK_MAIN_CHANNEL=
SLACK_HELP_CHANNEL=
SLACK_TICKETS_CHANNEL=
SLACK_WEBHOOK_URL=
